
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #12632e;
    color: #fff;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    height: 40px;
}

.container {
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #12632e;
    text-align: center;
    margin-bottom: 20px;
}

.filters {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.filters input,
.filters select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table thead {
    background-color: #12632e;
    color: #fff;
}

table thead th {
    padding: 10px;
    text-align: left;
}

table tbody tr {
    border-bottom: 1px solid #ddd;
}

table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

table tbody td {
    padding: 10px;
}

table tbody td button {
    padding: 5px 10px;
    background-color: #12632e;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

table tbody td button:hover {
    background-color: #004d00;
}

.details-button {
    background-color: #daa520;
}

.details-button:hover {
    background-color: #b8860b;
}

.actions {
    display: flex;
    gap: 10px;
}

.filter-button {
    padding: 8px 15px;
    background-color: #12632e;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.filter-button:hover {
    background-color: #12632e;
}
