* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
}

.navbar {
  background-color: #007B4E;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  width: 120px;
}

.navbar-menu {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar-menu li {
  display: inline;
}

.navbar-menu a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.app-screen {
  max-width: 100vh;
  margin: 100px auto 20px auto; 
  background-color: #26f1a7;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* Centraliza e estiliza o Relatório de Cashback */
.cashback-report {
  text-align: center;
  margin-bottom: 20px;
}

.cashback-report h2 {
  color: #444;
}

.cashback-report h1 {
  color: #007B4E;
}

/* Estiliza a seção de entrada e saída em colunas */
.transaction-summary {
  display: flex;
  justify-content: center;
  gap: 40px; /* Espaçamento entre as colunas de entrada e saída */
  margin: 20px 0;
}

.transaction {
  width: 150px; /* Largura para cada coluna de entrada e saída */
}

.transaction span {
  display: block;
  color: #888;
}

.transaction h3 {
  color: #444;
}

/* Centraliza os relatórios de campanhas */
.campaign-reports {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.campaign {
  padding: 15px;
  background-color: #f1f1f1;
  margin: 10px 0;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; /* Ajuste a largura conforme necessário */
}


.user-avatar {
  cursor: pointer;
  width: 40px;
  height: 40px;
  background-color: #ccc;
  border-radius: 50%;
  margin-left: 20px;
  position: relative;
}

.dropdown-menu {
  display: none; /* O menu está oculto por padrão */
  position: absolute;
  top: 60px; /* Ajuste para alinhar o menu abaixo do avatar */
  right: 20px; /* Alinha o menu à direita do avatar */
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  min-width: 100px;
  z-index: 200;
}

.dropdown-menu a {
  color: #007B4E;
  text-decoration: none;
  font-size: 14px;
  display: block;
  text-align: center;
}

.dropdown-menu a:hover {
  color: #00563A;
}
